section.detail {
	width: 100%;
	div.container-fluid {
		width: 100%;
		ul {
			@extend .no-list;
			display: flex;
			flex-direction: column;
			li {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				justify-content: center;
				align-items: center;
				@media (max-width: 1024px) {
					grid-template-columns: 1fr;
				}
				div.about-image {
					position: relative;
					width: 100%;
					height: 100%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					div.slogan {
						position: absolute;
						width: 100%;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						@media (max-width: 768px) {
							width: 100%;
						}
						h3 {
							@extend .image_overlay_text;
							color: $color-secondary-200;
							text-align: center;
						}
						div.more {
							margin: 20px 0;
							a {
								transition: 0.5s;
							}
						}
					}
				}
				div.about-description {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					div.text-content {
						max-width: 550px;
						@extend .about_details_text;
						color: $color-black;
						padding: 10px 20px;
						@media (max-width: 1024px) {
							max-width: none;
							padding: 50px 20px 40px 20px;
						}
						@media (max-width: 768px) {
							padding: 40px 20px 30px 20px;
						}
						@media (max-width: 576px) {
							padding: 20px;
						}
						h2 {
							@extend .about_details_header;
							color: $color_black;
							margin-bottom: 32px;
							@media (max-width: 1024px) {
								margin-bottom: 24px;
							}
							@media (max-width: 768px) {
								margin-bottom: 18px;
							}
							@media (max-width: 576px) {
								margin-bottom: 14px;
							}
						}
						p {
							margin-bottom: 18px;
						}
					}
				}
				&:nth-child(even) {
					div.about-image {
						order: 2;
					}
					div.about-description {
						order: 1;
					}
				}
				@media (max-width: 1024px) {
					div.about-image {
						order: 2;
					}
					div.about-description {
						order: 1;
					}
				}
			}
		}
	}
}

section.image-gallery {
	div.swiper {
		div.swiper-wrapper {
			div.swiper-slide {
				width: fit-content;
				figure {
					padding-top: 130%;
					@media (max-width: 420px) {
						padding-top: 150%;
					}
					img {
						@extend .fit-cover;
					}
				}
			}
		}
	}
}

.about_details_header {
	font-size: var(--font-size-4xl);
	line-height: 2;
	font-weight: 600;
	text-transform: capitalize;
	@media (max-width: 1024px) {
		font-size: var(--font-size-2xl);
		line-height: 1;
	}
	@media (max-width: 768px) {
		font-size: var(--font-size-1-2xl);
	}
}

.about_details_text {
	font-size: var(--font-size-lg);
	font-weight: 400;
	line-height: 1.5;
}

.image_overlay_text {
	font-size: var(--font-size-10xl);
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	@media (max-width: 1024px) {
		font-size: var(--font-size-9xl);
	}
	@media (max-width: 768px) {
		font-size: var(--font-size-7xl);
	}
	@media (max-width: 420px) {
		font-size: var(--font-size-3xl);
	}
}
